.btn {
    font-family: sans-serif;
    background-color: rgb(128, 171, 171);
    color: rgb(0, 36, 144);
    border-color: rgb(39, 8, 239);
    padding: 30px 15px;
    border-radius: 14px;
    font-size: 17px;   
}

:host {
    display: block;
    border: 3px solid red;
}

:host(.active) {
    
}